<div class="row">
  <!-- /.col -->
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of Parameters</h3>

        <div class="box-tools">
          <div class="no-margin pull-right">
            <button type="button" class="btn btn-block btn-primary" (click)="onNew()">Add Parameter</button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table">
          <tr>
            <th style="width: 10px">#</th>
            <th>Category</th>
            <th>Parameter</th>
            <th>SE Weightage</th>
            <th>SSE Weightage</th>
            <th>TA & Above Weightage</th>
            <th style="width: 80px">Actions</th>
          </tr>
          <tr *ngFor="let param of parameters; let i = index;">
            <td>{{i + 1}}</td>
            <td>{{param.categoryName}}</td>
            <td>{{param.parameterName}}</td>
            <td>{{param.seWeightage}}</td>
            <td>{{param.sseWeightage}}</td>
            <td>{{param.taWeightage}}</td>
            <td style="width: 80px">
              <span class="badge bg-red" (click)="updateParam(param)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
              &nbsp;
              <span class="badge bg-red" (click)="deleteParam(param)"><i class="fa fa-times" aria-hidden="true"></i></span>
            </td>
          </tr>
          <tr *ngIf="!parameters">
            <td colspan="7">No Results Found</td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<div class="row" *ngIf="showNew">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ title }}</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form [formGroup]="parametersForm" (submit)="addParameters()">
        <div class="box-body">
          <div class="form-group">
            <label>Category<span class="red">*</span></label>
						<select  formControlName="categoryId" id="categoryId" class="form-control">
              <option value=''>Select Category</option>
              <option *ngFor="let category of categories" value="{{category.id}}">{{ category.name }}</option>
						</select>
					</div>
          <div class="form-group">
            <label>Parameter Name<span class="red">*</span></label>
            <input type="text" formControlName="parameterName" id="parameterName" class="form-control">
          </div>
          <div class="form-group">
            <label>SE Weightage<span class="red">*</span></label>
            <input type="text" formControlName="se_weightage" id="se_weightage" class="form-control">
          </div>
          <div class="form-group">
            <label>SSE Weightage<span class="red">*</span></label>
            <input type="text" formControlName="sse_weightage" id="sse_weightage" class="form-control">
          </div>
          <div class="form-group">
            <label>TA & above Weightage<span class="red">*</span></label>
            <input type="text" formControlName="ta_weightage" id="ta_weightage" class="form-control">
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!parametersForm.valid">{{submitType}}</button>
          <button type="button" class="btn btn-default pull-right" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
    <!-- /.box -->
  </div>
  <!--/.col (left) -->
</div>
