<div class="login-box">
  <div class="login-logo">
    <a href="javascript:void(0);"><b>{{title}}</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form [formGroup]="loginForm" (submit)="login()">
      <div class="form-group has-feedback">
        <input type="text" formControlName="empId" id="empId" class="form-control" placeholder="Emp Id">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" formControlName="pwd" id="pwd" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm.valid">Sign In</button>
        </div>
        <div class="col-xs-8">
          <a routerLink="/forgotPassword" class="right">I forgot my password</a>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
