<div class="row">
  <div class="col-md-12">
  <!-- SELECT2 EXAMPLE -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Appraisal</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <form [formGroup]="searchForm" (submit)="serachAppraisal()">
          <div class="col-md-3">
            <div class="form-group">
              <label>Employee</label>
              <select formControlName="employee" id="employee" class="form-control select2" style="width: 100%;">
                <option value=''>Select Employee</option>
                <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.name}}</option>
              </select>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-3">
            <!-- /.form-group -->
            <div class="form-group">
              <label>Year</label>
              <select formControlName="year" id="year" class="form-control select2" style="width: 100%;">
                <option value=''>Select Year</option>
                <option *ngFor="let year of years" value="{{year.value}}">{{year.label}}</option>
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
          <!-- /.col -->
          <div class="col-md-3">
            <!-- /.form-group -->
            <div class="form-group">
              <label>Month</label>
              <select formControlName="month" id="month" class="form-control select2" style="width: 100%;">
                <option value=''>Select Month</option>
                <option *ngFor="let month of months" value="{{month.value}}">{{month.label}}</option>
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <div class="col-md-3 info-btn">
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-info" [disabled]="!searchForm.valid">Search</button>
            </div>
          </div>
          <!-- /.col -->
        </form>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  </div>
</div>

<div class="row" *ngIf="searchResults">
  <!-- /.col -->
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of Appraisals</h3>

        <div class="box-tools">
          <div class="no-margin pull-right">
            <button type="button" class="btn btn-block btn-primary" (click)="onNew()">Add +</button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table">
          <tr>
            <th style="width: 10px">#</th>
            <th>Task</th>
            <th>Progress</th>
            <th style="width: 40px">Label</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Update software</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
              </div>
            </td>
            <td><span class="badge bg-red">55%</span></td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Clean database</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
              </div>
            </td>
            <td><span class="badge bg-yellow">70%</span></td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Cron job running</td>
            <td>
              <div class="progress progress-xs progress-striped active">
                <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
              </div>
            </td>
            <td><span class="badge bg-light-blue">30%</span></td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Fix and squish bugs</td>
            <td>
              <div class="progress progress-xs progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: 90%"></div>
              </div>
            </td>
            <td><span class="badge bg-green">90%</span></td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<!-- <div class="row" *ngIf="showNew"> -->
  <div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{title}}</h3>
        <button type="button" class="btn btn-default pull-right" (click)="onCancel()">Cancel</button>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="box-group" id="accordion">
          <form [formGroup]="appraisalForm" (submit)="addAppraisal()">
            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
            <div class="panel box box-success">
              <div class="box-header with-border">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
                    Company Level
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" class="">
                <div class="box-body">
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Ownership&nbsp;<span class="badge bg-green">10</span></p>
                      </div>

                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="ownership" id="ownership" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="ownership_comments" id="ownership_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Punctuality&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="punctuality" id="punctuality" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="punctuality_comments" id="punctuality_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Collaboration&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="collaboration" id="collaboration" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="collaboration_comments" id="collaboration_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Communication&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="communication" id="communication" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="communication_comments" id="communication_comments"></textarea>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="panel box box-success">
              <div class="box-header with-border">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" class="collapsed">
                    Team Level
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                <div class="box-body">
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Timely delivery&nbsp;<span class="badge bg-green">10</span></p>
                      </div>

                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="delivery" id="delivery" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="delivery_comments" id="delivery_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Getting the right quality of software&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="quality" id="quality" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="quality_comments" id="quality_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Mentoring&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="mentoring" id="mentoring" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="mentoring_comments" id="mentoring_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Design/Analysis&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="design" id="design" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="design_comments" id="design_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Company wide tasks&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="tasks" id="tasks" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="tasks_comments" id="tasks_comments"></textarea>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="panel box box-success">
              <div class="box-header with-border">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed">
                    Individual Level
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                <div class="box-body">
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Performance growth & impact on Project&nbsp;<span class="badge bg-green">10</span></p>
                      </div>

                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="performance" id="performance" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="performance_comments" id="performance_comments"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>Independent closure of task&nbsp;<span class="badge bg-green">10</span></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <input type="number" min="0" formControlName="task_closure" id="task_closure" class="form-control"/>
                      </div>
                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="task_closure_comments" id="task_closure_comments"></textarea>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="panel box box-success">
              <div class="box-header with-border">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" class="collapsed">
                    Submit
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                <div class="box-body">
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-3">
                        <p>OverAll Feedback</p>
                      </div>

                      <div class="col-md-6 form-group">
                        <textarea class="form-control" formControlName="feedback" id="feedback"></textarea>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!appraisalForm.valid">SUBMIT</button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
